<div class="item" role="button" {{on "click" @onClick}}>
  <div class="filename">{{@model.filename}}</div>
  {{#if @model.downloadsString}}
    <div class="downloads">{{@model.downloadsString}}</div>
  {{/if}}
  <div class="details">{{@model.formattedContentType}}, {{@model.formattedSize}}, {{@model.formattedTimestamp}}</div>
</div>