<div class="route-uploads-upload-index">

  <div class="url">
    <LinkTo @route="downloads.download" @model={{@model.id}}>{{this.url}}</LinkTo>
  </div>

  <div class="filename">{{@model.filename}}</div>

  <div class="details">
    {{@model.formattedContentType}}, {{@model.formattedSize}}
  </div>

  <div class="date">
    {{@model.formattedTimestamp}}
  </div>

  {{#if @model.isOwner}}

    <div class="actions">
      {{#if this.isDeleting}}
        Deleting…
      {{else}}
        <Input::Button::Confirm @value="Delete" @confirmation="Delete, sure?" @onClick={{this.delete}}/>
      {{/if}}
    </div>

  {{/if}}

</div>