<div class="route-session-new">
  <div class="content">

    {{#if @model.error}}
      <div class="row error">
        {{@model.error.message}}
      </div>
    {{/if}}

    <div class="row">
      <Input @type="text" @value={{@model.email}} placeholder="email" disabled={{@model.isBusy}}/>
    </div>

    <div class="row">
      <Input @type="password" @value={{@model.password}} placeholder="password" disabled={{@model.isBusy}}/>
    </div>

    <div class="row">
      <input type="button" value="Sign in" disabled={{@mode.isActionDisabled}} {{on "click" this.perform}}/>
      {{#if @model.isBusy}}
        Signing in…
      {{/if}}
    </div>

  </div>
</div>